form{
background-color:transparent;
margin: 5rem 8rem 6rem 9rem;
max-width: 300px;
border-radius: 2rem;
}

fieldset{
   
    
    max-width: 300px;
    flex-wrap: wrap;
}
input{
    max-width: 100%;
    
    display: block;
    border-radius: 2rem;
    margin:none;
    
}
.boton{
    background-color: black;
    color: white;
    margin-top: 2rem;
   
}
body{
    background-image: url(../Pagina1/img/o.jpg);
    max-width: 100%;
}
label{
    color: oldlace;
    font-size: 2rem;
}

legend{
    color: thistle;
}
.contenido{
    text-align: center;
   
}
@media(min-width:500px){
    form{
        background-color:rebeccapurple;
    }
  .boton{
      background-color: white;
      color: rebeccapurple;
  }
}
