form{
background-color: rgba(158, 156, 17, 0.479);
margin: 5rem 8rem 6rem 9rem;
max-width: 300px;
border-radius: 2rem;
}
s
fieldset{
   
    
    max-width: 300px;
    flex-wrap: wrap;
}
input{
    max-width: 200px;
}
.ingrese{
    max-width: 120rem;
    margin: 0 auto;
}
body{
    background-image: url(../Pagina1/img/o.jpg);
}
h1{
    margin: 0 60rem 0 0 ;
}